@font-face {
    font-family: montserrat;
    src: local(Montserrat-Regular);
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: local(Montserrat-Bold);
    src: url(../fonts/Montserrat-Bold.ttf);
}

:root {
    --header-cards: #fff;
    --sidebar: #1992D4;
    --main: #E2E8F0;
    --accent: #F0B429;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    font-family: montserrat;
    font-size: 16px;
}

svg {
    width: 30px;
}

/* HEADER */

header {
    background-color: var(--header-cards);
    font-family: montserrat-bold;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr, 2fr;
    padding-top: 1rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.362);
    z-index: 0;
}

header > div {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.search > svg {
    cursor: pointer;
}

input {
    width: 80%;
    height: 2rem;
    border-radius: 20px;
    border: none;
    background-color: var(--main);
    padding: 0 1rem;
    font-family: montserrat;
}

input:focus {
    box-shadow: 0 0 5px 3px var(--accent);
}

.account-info > svg {
    width: 30px;
    cursor: pointer;
}

.account-info > img {
    width: 60px;
    cursor: pointer;
}

.account-info > h3 {
    cursor: pointer;
}

.greeting {
    justify-self: start;
    padding: 1rem 6rem;
}

.greeting > img {
    width: 100px;
}

.greeting-text > p {
    font-size: 1rem;
    margin: 0;
}

.greeting-text > h3 {
    font-size: 1.5rem;
    margin: 0;
}

/* SIDEBAR */

aside {
    background-color: var(--sidebar);
    color: #fff;
    fill: #fff;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 50px;
    font-size: .9rem;
    font-family: montserrat-bold;
}

.title {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    gap: 10px;
    padding: 0;
}

.title > svg {
    width: 60px;
}

aside > div {
    display: grid;
    align-items: center;
    padding-left: 13px;
}

aside > div > div {
    display: flex;
    gap: 30px;
}

aside > div > div:hover {
    color: var(--accent);
    fill: var(--accent);
    cursor: pointer;
}

.dash-icon {
    width: 75px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-items: center;
    padding-right: 1rem;
}

button {
    background-color: var(--sidebar);
    color: #fff;
    border: none;
    width: 100px;
    padding: 0.5rem;
    border-radius: 50px;   
}

button:hover {
    color: var(--accent);
    fill: var(--accent);
    cursor: pointer;
}

/* MAIN */

main {
    background-color: var(--main);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

main > div {
    background-color: #fff;
    border: 1px solid red;
}

.project-cards {
    grid-row: 1 / 3;
}

.project-cards > h3 {
    margin: 0;
}

.announcements > h3 {
    margin: 0;
}

.trending > h3 {
    margin: 0;
}